/* Normal */
@font-face {
  font-family: "PinyonScript";
  src: url("/fonts/pinyon_script/PinyonScript-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: white;
  --font-size-m: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
