---
import Layout from "@layouts/Layout.astro";
import backgroundImage from "@assets/superbingo.jpeg";
---

<Layout title="Home" backgroundImage={backgroundImage}>
  <p class="fancy-text">Site in progress...</p>
</Layout>

<style>
  .fancy-text {
    font-family: "PinyonScript", sans-serif;
    font-style: normal;
    font-weight: normal;
  }
</style>
