---
import Layout from "@layouts/Layout.astro";
import backgroundImage from "@assets/background.jpg";
---

<Layout title="Home" backgroundImage={backgroundImage}>
  <p>Site in progress...</p>
</Layout>
