---
import "@styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Super Bingo band official page" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>

    <footer>
      <p>© 2025 Super Bingo. All Rights Reserved.</p>
    </footer>
  </body>
</html>

<style>
  body {
    color: var(--text-color);
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  footer {
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: auto;
    gap: 0.5rem;
  }
</style>
